Exercise 1: Make an empty list and call it names

In [ ]:
names=[]

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [4]:
names=[ 'Hannah', 'Victor', 'Sam', 'James', 'Sarah']

In [5]:
print (names)

['Hannah', 'Victor', 'Sam', 'James', 'Sarah']

Exercise 3: Make names sort in reverse. Print out the list using a for-loop

In [64]:
print(names)
names.sort(reverse =True)
for i in names:
    print(i)

['Victor', 'Sarah', 'Sam', 'James', 'Hannah']
Victor
Sarah
Sam
James
Hannah

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [65]:
print(names)
names.sort()
print(names)

['Victor', 'Sarah', 'Sam', 'James', 'Hannah']
['Hannah', 'James', 'Sam', 'Sarah', 'Victor']

Exercise 5: Pull out the fourth item from names and print it out

In [14]:
print(names)
print(names[3])
print(names[3:4])

['Hannah', 'James', 'Sam', 'Sarah', 'Victor']
Sarah
['Sarah']

Exercise 6: Pull out the first item from names and print it out

In [15]:
print(names)
print(names[0])
print(names[0:1])

['Hannah', 'James', 'Sam', 'Sarah', 'Victor']
Hannah
['Hannah']

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [22]:
fruits_str = 'Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit'
fruits = [fruits_str]
print(fruits)
fruits = fruits_str.split(',')
print(fruits)

['Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit']
['Apples', ' Oranges', ' Bananas', ' Pineapples', ' Persimmons', ' Dragonfruit']

Exercise 8: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [69]:
num_lst = [1,2,3,4,5,6,7,8,9,10]
print(num_lst)
def square(num_lst):
    ret = []
    for i in num_lst:
        ret.append(i ** 2)
    print(ret)
square(num_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Exercise 9: Create a multiplication table from 1 to 10

In [110]:
for outer in [1,2,3,4,5,6,7,8,9,10]:
    print(f'Multiplication table:#{outer}')
    for inner in range(1,11):
        yup = outer * inner
        print(f'{outer}x{inner}={yup}')
    print("*" * 20)
    print()

print("Done")

Multiplication table:#1
1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
1x10=10
********************

Multiplication table:#2
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20
********************

Multiplication table:#3
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30
********************

Multiplication table:#4
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40
********************

Multiplication table:#5
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50
********************

Multiplication table:#6
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60
********************

Multiplication table:#7
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70
********************

Multiplication table:#8
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
8x10=80
********************

Multiplication table:#9
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
9x10=90
********************

Multiplication table:#10
10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100
********************

Done

Exercise 10: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [88]:
def get_test():
    go = 'y'
    scores = []
    while go != 'n':
        add_score = int(input(f'Please enter the test score: '))
        scores.append(add_score)
        go = input(f'Add another score? "n" to quit, hit return to keep going.')
    average = sum(scores)/len(scores)
    print(f'The average test score of {scores} is {average}.')
get_test()

Please enter the test score: 45
add another score? "n" to quit hit, return to keep going.
Please enter the test score: 67
add another score? "n" to quit hit, return to keep going.
Please enter the test score: 89
add another score? "n" to quit hit, return to keep going.
Please enter the test score: 98
add another score? "n" to quit hit, return to keep going.
Please enter the test score: 100
add another score? "n" to quit hit, return to keep going.n
The average test score of [45, 67, 89, 98, 100] is 79.8.

Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```

In [146]:
movie_lst = ['Toy Story','Lion King','Frozen']
def show_lst():
    print('Command: list\n')
    counter = 1
    for i in movie_lst:
        print(f'{counter}. {i}')
        counter += 1
    cmd_menu()

def add_lst():
    print('Command: add\n')
    add_movie = input(f'Name: ')
    movie_lst.append(add_movie.title())
    print(f'{add_movie} was added.')
    cmd_menu()

def del_lst():
    print('Command: del\n')
    del_movie = int(input(f'Number: '))
    print(f'{movie_lst[del_movie]} was removed.')    
    movie_lst.pop(del_movie)
    cmd_menu()
    
def cmd_menu():
    choice = input(f'Please choose one of the following options:\n'
                'list - list all movies\n'
                'add - add a movie\n'
                'del - delete a movie\n'
                'exit - exit program\n')
    if choice == 'list':
        show_lst()
    elif choice == 'add':
        add_lst()
    elif choice == 'del':
        del_lst()
    else:
        print('Thank you for using the movie program.')

cmd_menu()

Please choose one of the following options:
list - list all movies
add - add a movie
del - delete a movie
exit - exit program
add
Command: add

Name: Snow White
Snow White was added.
Please choose one of the following options:
list - list all movies
add - add a movie
del - delete a movie
exit - exit program
add
Command: add

Name: Peter Pan
Peter Pan was added.
Please choose one of the following options:
list - list all movies
add - add a movie
del - delete a movie
exit - exit program
del
Command: del

Number: 3
Snow White was removed.
Please choose one of the following options:
list - list all movies
add - add a movie
del - delete a movie
exit - exit program
list
Command: list

1. Toy Story
2. Lion King
3. Frozen
4. Peter Pan
Please choose one of the following options:
list - list all movies
add - add a movie
del - delete a movie
exit - exit program
exit
Thank you for using the movie program.